@model List<Ability>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="resume-section" id="skills">
    <div class="resume-section-content">



        <h2 class="mb-5">Yetenekler</h2>
        <div class="subheading mb-3">Programming Languages & Tools</div>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item"><i class="fab fa-html5"></i></li>
            <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>

            <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>

        </ul>
        @foreach (var item in Model)
        {
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    @item.MyAbility
                </li>

            </ul>
        }
    </div>
</section>