@model IPagedList<Ability>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<table class="table table-hover">
    <tr>
        <th>#</th>
        <th> Yetenek</th>
        <th> Güncelle</th>

    </tr>

    @foreach (var ability in Model)
    {
        <tr>
            <th>@ability.AbilityId</th>
            <th>@ability.MyAbility</th>



            <td><a href="/AdminAbility/AbilityUpdate/@ability.AbilityId" class="btn btn-outline-warning"><b>Güncelle</b></a></td>



        </tr>
    }

</table>
<br />
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
<br />
<a href="/AdminAbility/AddAbility" class="btn btn-outline-dark"> <b>Yetenek Ekle</b></a>
<br />


