@model MyHobby
@{
    ViewData["Title"] = "AddHobby";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<br />
<h2>Hobi Ekleme Sayfası</h2>
<br />
<form method="post" asp-controller="AdminHobby" asp-action="AddAHobby">

    <div class="form-group">
        <label asp-for="Hobby"> <b>Hobby:</b></label>
        <input asp-for="Hobby" class="form-control" />
        @*<span asp-validation-for="CName" class="text-danger"></span>*@
    </div>
    <button type="submit" class="btn btn-outline-primary"><b>Ekle</b></button>
</form>





