@model MyHobby
@{
    ViewData["Title"] = "HobbyUpdate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2> Hobi Düzenleme Sayfası</h2>
@using (Html.BeginForm("HobbyUpdate", "AdminMyHobby", FormMethod.Post))
{
    <div class="form-group">

        @Html.HiddenFor(x => x.HobbyId, new { @class = "form-control" })

        <br />
        @Html.Label("Hobi")
        @Html.TextBoxFor(x => x.Hobby, new { @class = "form-control" })
        @*@Html.ValidationMessageFor(x => x.UserName)*@ @*//mesajlar*@
        <br />



        <button class="btn btn-outline-success"><b>Değişiklikleri Kaydet</b></button>


    </div>
}



